.App {
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  font-weight: 800;
  text-shadow: 10px 5px 10px #111;
  border-left: solid;
  border-bottom: solid;
  padding: 0.6rem;
}

.logo:hover {
  cursor: crosshair;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
}

header nav {
  display: flex;
  min-width: 270px;
  justify-content: space-between;
  align-items: center;
  gap:1.5vw;
}

header nav a {
  text-decoration: none;
  color: inherit;
}

a:hover,
.active {
  text-decoration: overline;
  text-shadow: 0px 0px 10px currentColor;
}

button,
input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 2px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: fit-content;

}
form>div{
  display: flex;
  align-items: center;
}
svg {
  padding: 5px;
}

svg:hover {
  cursor: pointer;
  background-color: #aaa;
  border-radius: 50%;
}

ol,
ul {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 2rem;
}

li {
  background-color: #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  display: flex;
  /* align-items: flex-start; */
  text-align: center;
  flex-direction: column;
  position: relative;

}
li span:first-child{
  font-weight: 800;
}
li:hover {
  opacity: 0.8;
}
li svg{
  position: absolute;
  top:0;
  right:0;
}

input,
select, textarea {
  min-width:12ch;
  padding: 0.5rem;
  border: 2px solid;
  background: #ddd;
  border-radius: 5px;
  margin:3px;

}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  white-space: pre-wrap;
  overflow-x: scroll;
  }
textarea{
  resize: none;
}
.formToUpdate form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
button:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.secondaryBtn {
  background-color: #fff;
  color: #111;
}

button {
  background-color: #343434;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #343434;
  font-weight: bold;
  margin: 3px;
}

.loader {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin:auto;
  border: 10px double currentColor;
  border-top: 10px solid #aaa;
  animation: 1s linear 0s infinite spin;
}
.detailsCard p{
  text-align: left;
  max-width: fit-content;
}
.detailsCard div{
  width:50vmax;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media (min-width:670px) {
  .contain{
    display: flex;
    justify-content: space-between;
  }
}